[ req ]
prompt                  = no
distinguished_name      = server_distinguished_name
req_extensions          = v3_req

[ server_distinguished_name ]
commonName              = ossec-master.example.com
stateOrProvinceName     = London
countryName             = GB
emailAddress            = ossec@example.com
organizationName        = An Example Org
organizationalUnitName  = OSSEC

[ v3_req ]
basicConstraints        = CA:FALSE
keyUsage                = nonRepudiation, digitalSignature, keyEncipherment
